{{- $symbol := .Get "symbol" -}}
{{- if not $symbol -}}
  {{- errorf "tradingview shortcode requires symbol" -}}
{{- end -}}
{{- $height := .Get "height" | default "400px" -}}
{{- $interval := .Get "interval" | default "D" -}}
{{- $timezone := .Get "timezone" | default "Etc/UTC" -}}
{{- $theme := .Get "theme" | default "light" -}}
{{- $style := .Get "style" | default "1" -}}
{{- $locale := .Get "locale" | default "en" -}}
{{- $allowSymbolChangeParam := .Get "allow_symbol_change" | default "false" -}}
{{- $allowSymbolChangeLower := lower (printf "%v" $allowSymbolChangeParam) -}}
{{- $allowSymbolChange := or (eq $allowSymbolChangeLower "true") (eq $allowSymbolChangeLower "1") (eq $allowSymbolChangeLower "yes") -}}

<div class="tradingview-widget-container" style="height: {{ $height }}; width: 100%;">
  <div class="tradingview-widget-container__widget" style="height: 100%; width: 100%;"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
    {{
      dict
        "autosize" true
        "symbol" $symbol
        "interval" $interval
        "timezone" $timezone
        "theme" $theme
        "style" $style
        "locale" $locale
        "allow_symbol_change" $allowSymbolChange
        "support_host" "https://www.tradingview.com"
      | jsonify
      | safeJS
    }}
  </script>
</div>
